<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li.pojo.User">
        <id column="userId" property="userId" />
        <result column="userName" property="userName" />
        <result column="passWord" property="passWord" />
        <result column="email" property="email" />
        <result column="phoneNumber" property="phoneNumber" />
        <result column="description" property="description" />
        <result column="role" property="role" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, userName, passWord, email, phoneNumber, description, role
    </sql>

    <select id="selectUserById" resultType="com.li.pojo.User" parameterType="string">
         select * from user where userId= #{userId}
    </select>

</mapper>